.container {
    max-width: 28.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-silver);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-semi-dark-navy);
}

.rowTwo {
    background-color: var(--color-semi-dark-navy);
    padding: 1.5rem;
    border-radius: 1.25rem;
    box-shadow: 0px 8px var(--box-shadow-color);
    margin: 2.5rem 0;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-silver);

    h1 {
        font-size: var(--text-xs);
        font-weight: var(--font-bold);
    }

    button {
        cursor: pointer;
        border: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        padding: 10px 0;

        svg {
            width: 32px;
            height: 32px;

            @media screen and (max-width:767px) {
                width: 28px;
                height: 28px;
            }
        }
    }

    p {
        font-size: var(--text-body);
        letter-spacing: var(--leading-body);
        line-height: 0.625rem;
        color: var(--color-silver);
        opacity: 0.5;
        text-transform: uppercase;
        text-align: center;
    }
}

.selectBox {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--color-dark-navy);
    border-radius: 0.625rem;
    padding: 0.5rem 0.5625rem;
    margin: 1.5rem 0rem 1.0625rem;
}

.selected {
    background-color: var(--color-silver);
    transition: background-color 100ms ease-in-out 0s;
}

.notSelected {
    background-color: transparent !important;

    &:hover {
        background-color: rgba(168, 191, 201, 0.05) !important;

        svg {
            filter: invert(100%) brightness(60%) saturate(30%);
        }
    }
}

.rowThree {
    button {
        cursor: pointer;
        border: none;
        width: 100%;
        border-radius: 0.9375rem;
        text-transform: uppercase;
        font-size: var(--text-sm);
        font-weight: bold;
        letter-spacing: var(--leading-xs);
        padding: 1.0625rem 0.625rem;
        color: var(--color-dark-navy);
        margin-bottom: 1.25rem;
        transition: all 200ms ease 0s;

        @media screen and (max-width: 767px) {
            font-size: var(--text-xs);
        }
    }

    .btnOne {
        background-color: var(--color-light-yellow);
        box-shadow: rgb(204, 139, 19) 0px 8px;

        &:active {
            box-shadow: rgb(204, 139, 19) 0px 4px;
            transform: translateY(0.3125rem);
        }
    }

    .btnTwo {
        background-color: var(--color-light-blue);
        box-shadow: rgb(17, 140, 135) 0px 8px;

        &:active {
            box-shadow: rgb(17, 140, 135) 0px 4px;
            transform: translateY(0.3125rem);
        }
    }
}