.backdrop {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 115%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 50;
}

.modalOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 16.625rem;
    width: 100%;
    background-color: var(--color-semi-dark-navy);
    z-index: 60;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}