:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.main-wrapper {
  width: 95vw;
  overflow: hidden;
}

#root {
  z-index: 5;
}

#modal-portal {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  /* background-color: rgba(255, 0, 0, 0.2); */
  min-height: 100vh;
}